<%- include("partials/header.ejs") %>
<body>
	<%- include("partials/navbar.ejs") %>
	<div class="container">
		<hr>
		<h1 style="color:white"><%= ask.title %></h1>

		<p style="color: white"><%= ask.describe %></p>
		<hr>
	</div>
</body>
<%- include("partials/footer.ejs") %>