<%- include("partials/header.ejs") %>
<body>
	<%- include("partials/navbar.ejs") %>
	<div class="container">
		<br>
		<a href="/ask" class="btn btn-light"><b>Ask-me now...</b></a>
		<hr>
		<% asks.forEach(ask => { %>
		<div class="card">
			<div class="card-body">
				<h3><%= ask.title %></h3>
			</div>
			<div class="card-footer">
				<a href="/ask/<%= ask.id %>" class="btn btn-dark">Answer</a>
			</div>
		<div/>
		<% }) %>
	</div>
</body>
<%- include("partials/footer.ejs") %>